.lotinfo-modal {
    position: fixed;
    top: 50px;

    height: auto;
    width: 250px;
    padding: 5px;

    left: 50%;
    margin-left: -125px; /*haft of width*/

    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.lotinfo-modal.hide {
    display: none;
}

.lotinfo-modal .lotinfo-modal-header .btn-close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

.lotinfo-modal-body {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.lotinfo-modal-body label dfn {
    position: absolute;
    right: 5px;
}